<!DOCTYPE html>
<html>
<head>
    <title>Base Framework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.0.3/custom-elements-es5-adapter.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_pack_tag 'application' %>
</body>
</html>
